body {
    margin: 0;
    background: #100E1D;
    color: #A09FB1;
    height: 100%;
}


.light-text {
    color: #E7E7EB;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #E7E7EB;
    cursor: pointer;
}

.search-result {
    font-size: 1rem;
    text-transform: capitalize;
    text-align: left;
}

.search-result:hover {
    border: 1px solid #E7E7EB;
    padding: 0.5rem 1rem;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    height: 572px;
    overflow-y: scroll;
}

input {
    background: #1E213A;
    border: 1px solid #E7E7EB;
    padding: 0.5rem 1rem;
    color: #E7E7EB;
}


form {
    display: flex;
    justify-content: space-between;
}

.btnSubmit {
    background-color: #3C47E9;
    color: #E7E7EB;
}

.btnSearch {
    background-color: #6E707A;
    color: #E7E7EB;
    padding: 10px 18px;
    margin: 1rem 0.5rem;
}

.weatherDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-name {
    font-weight: 600;
    font-size: 26px;
}

.btnClear {
    background-color: transparent;
    color: #E7E7EB;
    align-self: flex-end;
}

.location {
    text-transform: capitalize;
    background-image: url(./icons/location.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px 20px;
    padding-left: 2rem;
}

.temp {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}

.highlights-container {
    margin: 23px;
}

.wind {
    background-image: url(./icons/navigation-24px.svg);
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 16px 20px;
}

.weather-today {
    background-color: #1E213A;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.wrapper {
    width: 100%;
    height: 8px;
    background-color: #E7E7EB;
    border-radius: 5px;
}

.percentage {
    height: 8px;
    background-color: #FFEC65;
    width: 100%;
    border-radius: 5px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

img {
    max-width: 202px;
}

.convert {
    display: none;
    text-align: right;
    margin-bottom: 1rem;
}

.convert button:first-of-type {
    margin-right: 1rem;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E7E7EB;
    color: #1E213A;
}

.dark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #585676;
    color: #E7E7EB;
}

@media(min-width: 1000px) {
    #root {
        position: relative;
        padding: 1rem;
        padding-left: 350px;
        padding-right: 3rem;
    }

    .weather-today {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding-bottom: 0;
        width: 300px;
    }

    .search {
        padding: 1rem;
    }

    .highlights-container {
        margin: 0;
    }

    .convert {
        display: block;
    }
}